.friends {
  margin-right: auto;
  margin-left: auto;

  width: 300px;
}

.titleContainer {
  padding: 10px 0px 10px 0px;

  background-color: #fff;
}

.title {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
